<pre>{{ case | json}}</pre>
<form [formGroup]="form" class="color-form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-6">
      <label for="repoName">Repo Name</label> 
      <input type="text" id="repoName" placeholder="" formControlName="repoName" class="form-control" [class.bg-warning]="form.controls['repoName'].touched && form.controls['repoName'].hasError('invalidRepoName')">
    </div>
    <div class="form-group col-6">
      <label for="jobNumber">Job Number</label> 
      <input type="text" id="jobNumber" placeholder="" formControlName="jobNumber" class="form-control" [class.bg-warning]="form.controls['jobNumber'].touched && form.controls['jobNumber'].hasError('invalidJobNumber')">
    </div>
  </div>

  <div class="form-row">
    <label for="description">Description</label>
    <textarea id="description" formControlName="description" cols="30" rows="10" class="form-control"></textarea>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <input type="checkbox" id="includeException" formControlName="includeException" class="filled-in chk-col-info">
      <label for="includeException">包含异常错误</label> 
    </div>
    <div class="form-group col">
      <input type="checkbox" id="includeAssertion" formControlName="includeAssertion" class="filled-in chk-col-info">
      <label for="includeAssertion">包含断言错误</label> 
    </div>
  </div>
  <div class="form-row">
    <label for="causeUrl">Cause URL</label>
    <input type="text" id="causeUrl" formControlName="causeUrl" class="form-control">
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="preCommit">Pre Commit SHA</label> 
      <input type="text" id="preCommit" placeholder="" formControlName="preCommit" class="form-control">
    </div>
    <div class="form-group col-md-6">
      <label for="currentCommit">Current Commit SHA</label> 
      <input type="text" id="currentCommit" placeholder="" formControlName="currentCommit" class="form-control">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <input type="checkbox" id="multipleCrash" formControlName="multipleCrash" class="filled-in chk-col-info">
      <label for="multipleCrash">多类错误</label> 
    </div>
    <div class="form-group col">
      <label for="crashClusterNum">数目</label> 
      <input type="text" id="crashClusterNum" formControlName="crashClusterNum" class="form-control">
    </div>
  </div>

  <div formArrayName="fixUrls">
    <label class="col-form-label">Fix URL</label>
    <button class="btn btn-link" (click)="add('fixUrls')">增加</button>
    <div class="row" *ngFor="let fixUrl of fixUrls.controls; let i=index">
      <input class="form-control col-9" [formControlName]="i">
      <button class="btn btn-link col-3" (click)="delete('fixUrls',i)">删除</button>
    </div>
  </div>

  <div class="form-row">
    <label for="figs">添加截图</label>
    <input multiple type="file" class="form-control" formControlName="figs" (change)="onFileChanged($event)">
  </div>

  <div class="form-row" *ngFor="let file of files; let i=index">
    {{ file.name }}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-link bg-white text-info shadow px-5">Submit</button>
  </div>

</form>